In [3]:
import pandas as pd

In [38]:
or_list = [
    [4.15,4.75,3.25,7.60,5.8],
    [4.15,4.30,3.75,8.20,5.55],
    [4.30,3.85,3.50,7.90,5.30] 
]


'''
pr_list = [
    [2.5 ,2.02,1.75,3.0,2.75],
    [2.5,2.0,1.75,3.0,2.75],
    [3.0,2.4,2.09,3.59,3.3]  
]

'''

pr_list = [
    
    [2.5,2.5,3],
    [2.02,2.0,2.4],
    [1.75,1.75,2.09]
    ,[3.0,3.0,3.59],
    [2.75,2.75,3.3]
    
    
    
    
]


or_df =pd.DataFrame(or_list)
pr_df= pd.DataFrame(pr_list)

In [39]:
or_df

      0     1     2    3     4
0  4.15  4.75  3.25  7.6  5.80
1  4.15  4.30  3.75  8.2  5.55
2  4.30  3.85  3.50  7.9  5.30

In [41]:
pr_df

      0     1     2
0  2.50  2.50  3.00
1  2.02  2.00  2.40
2  1.75  1.75  2.09
3  3.00  3.00  3.59
4  2.75  2.75  3.30

In [ ]:
#class Person:
    #def __init__(self)

In [18]:
def highest_rank(a_list):
    return a_list.index(max(a_list))
highest_rank([1,2])

1

In [51]:
waiting_list =[0, 1, 3, 4]
weight_list =[4.30,3.85,3.50,7.90,5.30] 
def i_choose_the_best(waiting_list,weight_list):
    
    if len(waiting_list)==0:
        temp_person = None
        temp_value = 0    
    else :
        temp_person=waiting_list[0]
        temp_value =weight_list[waiting_list[0]]
        for pr in waiting_list:
            
            if weight_list[pr] > temp_value :
                temp_person = pr
                temp_value = weight_list[pr]
                
                    
        
    return (temp_person , temp_value)    

i_choose_the_best(waiting_list,weight_list)

(3, 7.9)

In [69]:
free_person = 5


pr_index_list = [ 0,1,2,3,4] 
or_index_list = [ 0,1,2] 

or0_waitlist=[]
or1_waitlist=[]
or2_waitlist=[]


not_free_persons= []
while (free_person >4):
    free_person -=1
    #for j in range(0,3):
        #print(or_list[j][highest_rank(or_list[j])],highest_rank(or_list[j]))
    
    
    
    
    for i in pr_index_list:
      #  print(i,highest_rank(pr_list[j]))
        
        if highest_rank(pr_list[j]) ==0 :
            or0_waitlist.append(i)
        if highest_rank(pr_list[j]) ==1 :
            or1_waitlist.append(i)    
        if highest_rank(pr_list[j]) ==2 :
            or2_waitlist.append(i)
        
    or0_waitlist.append(i_choose_the_best(or0_waitlist,or_list[0]))
    or1_waitlist.append(i_choose_the_best(or1_waitlist,or_list[1]))
    or2_waitlist.append(i_choose_the_best(or2_waitlist,or_list[2]))

In [70]:
print(or0_waitlist)
print(or1_waitlist)
print(or2_waitlist)

[]
[]
[0, 1, 2, 3, 4]

In [42]:
for j in range(0,3):
 #   print(or_list[j])
    print(or_list[j][highest_rank(or_list[j])],highest_rank(or_list[j]))

7.6 3
8.2 3
7.9 3