In [2]:
import pandas as pd

In [3]:
edu_dict= {"None":1,"Diploma":2,"BSC":4,"MSC":6,"PHD":8}
lan_dict= {"low":1,"medium":2,"good":3,"advanced":4,"native":5}
gen_dict={"low":1,"medium":2,"good":4,"high":8,"advanced":10}
exp_dict={"0-5":1,"5-10":2,"10-15":4,"15-20":6,"20 and more":8}
psy_dict = {"low":1,"medium":2,"good":4,"high":8,"excellent":10}
    

class Person :

    
    
    def __init__(self ,name ,education , english,general_skill,experince,pshyco_test,person_weight_list):
        self.name =name
        self.education =education
        self.english =english
        self.general_skill =general_skill
        self.experince =experince
        self.pshyco_test =pshyco_test
        self.person_weight_list =person_weight_list
        
        self.edu=edu_dict[education]
        self.lan=lan_dict[english]
        self.gen=gen_dict[general_skill]
        self.exp=exp_dict[experince]
        self.psy=psy_dict[pshyco_test]

In [4]:
#declaring persons
# order is name ,education , english,general_skill,experince,pshyco_test
pr0 =Person("Paul" , "MSC", "native" , "good" , "0-5" , "good",[0.5,0.2,0.2,0.1])
pr1 =Person("Yahn" , "PHD", "medium" , "medium" , "10-15" , "low",[0.4,0.2,0.15,0.25])
pr2 =Person("Siraj" , "BSC", "good" , "high" , "0-5" , "medium",[0.35,0.1,0.25,0.3])
pr3 =Person("Saeed" , "PHD", "advanced" , "advanced" , "15-20" , "excellent",[0.6,0,0.3,0.1])
pr4 =Person("Dimitry" , "MSC", "low" , "low" , "20 and more" , "high",[0.55,0.15,0.15,0.15])

In [5]:
organs_dict = {
'wo0' : [0.4,0.1,0.1,0.25,0.15],
'wo1' : [0.35,0.05,0.2,0.2,0.2],
'wo2' : [0.3,0.15,0.15,0.15,0.25]

              }

persons_dict = {
'wp0'   :      [0.5,0.2,0.2,0.1]     ,
'wp1'   :      [0.4,0.2,0.15,0.25],
'wp2'   :      [0.35,0.1,0.25,0.3],
'wp3'   :      [0.6,0,0.3,0.1],
'wp4'    :      [0.55,0.15,0.15,0.15]
                }

In [6]:
or_df = pd.DataFrame(organs_dict)
or_df =or_df.T
or_columns=["education" , "english","general_skill","experince","pshyco_test"]
or_df.columns=or_columns
or_df

     education  english  general_skill  experince  pshyco_test
wo0       0.40     0.10           0.10       0.25         0.15
wo1       0.35     0.05           0.20       0.20         0.20
wo2       0.30     0.15           0.15       0.15         0.25

In [7]:
pr_df = pd.DataFrame(persons_dict)
pr_df =pr_df.T
pr_columns=["sallary","flexibility","bonus","remote"]
pr_df.columns=pr_columns
pr_df

     sallary  flexibility  bonus  remote
wp0     0.50         0.20   0.20    0.10
wp1     0.40         0.20   0.15    0.25
wp2     0.35         0.10   0.25    0.30
wp3     0.60         0.00   0.30    0.10
wp4     0.55         0.15   0.15    0.15

# Calculating Uij and U'ij

In [155]:
weigh_or_list = ["wo0","wo1","wo2"]
persons_list= [pr0,pr1,pr2,pr3,pr4]

utility_list = []
utility_dict ={}
for i in weigh_or_list:
    U_list=[]
    for j in persons_list:
        
        U = organs_dict[i][0] * j.edu +organs_dict[i][1] * j.lan+organs_dict[i][2] * j.gen +organs_dict[i][3] * j.exp+organs_dict[i][4] * j.psy
        U_list.append(U)
        
        print ( "Utility for organ {:} with {:} is {:0.2} ".format(i,j.name,U))
    utility_list.append(U_list)
    utility_dict[i] = U_list

Utility for organ wo0 with Paul is 4.2
Utility for organ wo0 with Yahn is 4.8
Utility for organ wo0 with Siraj is 3.2
Utility for organ wo0 with Saeed is 7.6
Utility for organ wo0 with Dimitry is 5.8
Utility for organ wo1 with Paul is 4.1
Utility for organ wo1 with Yahn is 4.3
Utility for organ wo1 with Siraj is 3.8
Utility for organ wo1 with Saeed is 8.2
Utility for organ wo1 with Dimitry is 5.5
Utility for organ wo2 with Paul is 4.3
Utility for organ wo2 with Yahn is 3.8
Utility for organ wo2 with Siraj is 3.5
Utility for organ wo2 with Saeed is 7.9
Utility for organ wo2 with Dimitry is 5.3

In [170]:
len(utility_list)

3

In [10]:
U_df =pd.DataFrame(utility_dict)    
#U_df["wo0"][0]
U_df

    wo0   wo1   wo2
0  4.15  4.15  4.30
1  4.75  4.30  3.85
2  3.25  3.75  3.50
3  7.60  8.20  7.90
4  5.80  5.55  5.30

# Creating Model and Adding Variables

In [49]:
from mip import *
import random
model = Model()

In [76]:
D_list = []
# حقوقی که سازمان به فرد به عنوان متغیر 
# پیشنهاد میده 

# d23 
# ینی حقوقی که سازمان 2 به فرد 3 میده
for j in range(0,5):
    D_temp=[]
    for i in range(0,3):
        D_temp.append(model.add_var(name = "d{:}{:}".format(i,j),lb=0,ub= random.randint(5,30)) )
        print(D_temp[i].name)
    D_list.append(D_temp)
    
D_list

d00
d10
d20
d01
d11
d21
d02
d12
d22
d03
d13
d23
d04
d14
d24

[[<mip.entities.Var at 0x205c4fafc70>,
  <mip.entities.Var at 0x205c4faf460>,
  <mip.entities.Var at 0x205c4faf100>],
 [<mip.entities.Var at 0x205c4b7c730>,
  <mip.entities.Var at 0x205c4b7c7f0>,
  <mip.entities.Var at 0x205c4b7c3a0>],
 [<mip.entities.Var at 0x205c4b7cd00>,
  <mip.entities.Var at 0x205c4b7cfd0>,
  <mip.entities.Var at 0x205c4face20>],
 [<mip.entities.Var at 0x205c4b7c5b0>,
  <mip.entities.Var at 0x205c4b7ccd0>,
  <mip.entities.Var at 0x205c4b7cdf0>],
 [<mip.entities.Var at 0x205c4b7ce80>,
  <mip.entities.Var at 0x205c4b7c640>,
  <mip.entities.Var at 0x205c4b7cd60>]]

In [77]:
D_list[0][1].name

'd10'

In [140]:
n_time_step=10
CH_list = []
for i in range(0,3):
    ch_temp=[]
    for j in range(0,5):
        ch_temp_temp=[]
        for k in range(0,n_time_step):
            ch_temp_temp.append(model.add_var(name = "ch{:}{:}{:}".format(i,j,k) , var_type=BINARY ))
    
        ch_temp.append(ch_temp_temp)
        
    CH_list.append(ch_temp)

CHP_list = []
for i in range(0,3):
    chp_temp=[]
    for j in range(0,5):
        chp_temp_temp=[]
        for k in range(0,n_time_step):
            chp_temp_temp.append(model.add_var(name = "chp{:}{:}{:}".format(i,j,k) , var_type=BINARY))
    
        chp_temp.append(chp_temp_temp)
        
    CHP_list.append(chp_temp)    

ZITA_list=[] 
for i in range(0,3):
    zita_temp=[]
    for j in range(0,5):
        zita_temp_temp=[]
        for k in range(0,n_time_step):
            zita_temp_temp.append(model.add_var(name = "zita{:}{:}{:}".format(i,j,k) , var_type=BINARY))
    
        zita_temp.append(zita_temp_temp)
        
    ZITA_list.append(zita_temp)

In [141]:
CHP_list[0][1][2]

In [142]:
person_weight_list =[[0.5,0.2,0.2,0.1]     ,
[0.4,0.2,0.15,0.25],
[0.35,0.1,0.25,0.3],
[0.6,0,0.3,0.1],
[0.55,0.15,0.15,0.15]]
person_weight_list[0][0]

0.5

# Constraints

In [143]:
M= 1 * 10 **9

In [169]:
utilityP_list =[]

for i in range(0,3):  
    Up_list = []
    for j in range(0,5):     
        Up = person_weight_list[j][0]*D_list[j][i]
     
        Up_list.append(Up)
        
    utilityP_list.append(Up_list)   
    
print(len(utilityP_list[0])    )
print(utilityP_list[0][1])

5
+ 0.4d01

In [171]:


for i in range(0,3): 
    
    organs_index=[0,1,2]     
    organs_index.pop(i)
    
    for j in range(0,5):
        
        persons_index=[0,1,2,3,4]
        persons_index.pop(j)     # temp_list for persons
       
       
       
        
        

           
        
        for t in range(0,n_time_step):
            
            
            # constraints for Zita 
            model += ZITA_list[i][j][t] <= CH_list[i][j][t]
            model += ZITA_list[i][j][t] <= CHP_list[i][j][t]
            model += CH_list[i][j][t] + CHP_list[i][j][t] -1 <= ZITA_list[i][j][t]
            
            
            a=xsum(xsum(ZITA_list[i][z][e] for e in range(0,t-1)) for z in persons_index)
            b=xsum(xsum(ZITA_list[o][j][e] for e in range(0,t-1)) for o in organs_index)
             
            model += CH_list[i][j][t] <= (1 - a )
            model += CHP_list[i][j][t] <= (1 - b )
            
            for z in persons_index:
                model += (-1)*(1 - CH_list[i][j][t])*M -(1 -a)*M <=utility_list[i][j] -utility_list[i][z]
            
            for o in organs_index:
                model += (-1)*(1 - CHP_list[i][j][t])*M -(1 -b)*M <=utilityP_list[i][j] -utilityP_list[i][o]
            
            U_total_list=

In [172]:
pd.DataFrame(utilityP_list)

           0          1           2          3           4
0  + 0.5d00   + 0.4d01   + 0.35d02   + 0.6d03   + 0.55d04
1  + 0.5d10   + 0.4d11   + 0.35d12   + 0.6d13   + 0.55d14
2  + 0.5d20   + 0.4d21   + 0.35d22   + 0.6d23   + 0.55d24

In [173]:
pd.DataFrame(utility_list)

      0     1     2    3     4
0  4.15  4.75  3.25  7.6  5.80
1  4.15  4.30  3.75  8.2  5.55
2  4.30  3.85  3.50  7.9  5.30

In [145]:
# How Utility' is calculated
utilityP_list =[]
for j in range(0,5):
    for i in range(0,3):
        
        print(person_weight_list[j][0]*D_list[j][i])

+ 0.5d00
+ 0.5d10
+ 0.5d20
+ 0.4d01
+ 0.4d11
+ 0.4d21
+ 0.35d02
+ 0.35d12
+ 0.35d22
+ 0.6d03
+ 0.6d13
+ 0.6d23
+ 0.55d04
+ 0.55d14
+ 0.55d24

In [146]:
#How Zita is caculated
utilityP_list =[]
for j in range(0,5):
    for i in range(0,3):
        for t in range(0,n_time_step-8):
            print(ZITA_list[i][j][t])
    print(person_weight_list[j][0]*D_list[j][i])

zita000
zita001
zita100
zita101
zita200
zita201
+ 0.5d20
zita010
zita011
zita110
zita111
zita210
zita211
+ 0.4d21
zita020
zita021
zita120
zita121
zita220
zita221
+ 0.35d22
zita030
zita031
zita130
zita131
zita230
zita231
+ 0.6d23
zita040
zita041
zita140
zita141
zita240
zita241
+ 0.55d24

In [151]:
#How Zita is caculated
'''
for t in range(0,3):
    a=xsum(xsum(ZITA_list[0][z][e] for e in range(0,t-1)) for z in [0,1,2])
    print(a) 
    

'''

    
for t in range(0,10):
    a=[[ZITA_list[0][z][e].name for e in range(0,t-1)] for z in [0,1,2]]
    print(a,len(a))

[[], [], []] 3
[[], [], []] 3
[['zita000'], ['zita010'], ['zita020']] 3
[['zita000', 'zita001'], ['zita010', 'zita011'], ['zita020', 'zita021']] 3
[['zita000', 'zita001', 'zita002'], ['zita010', 'zita011', 'zita012'], ['zita020', 'zita021', 'zita022']] 3
[['zita000', 'zita001', 'zita002', 'zita003'], ['zita010', 'zita011', 'zita012', 'zita013'], ['zita020', 'zita021', 'zita022', 'zita023']] 3
[['zita000', 'zita001', 'zita002', 'zita003', 'zita004'], ['zita010', 'zita011', 'zita012', 'zita013', 'zita014'], ['zita020', 'zita021', 'zita022', 'zita023', 'zita024']] 3
[['zita000', 'zita001', 'zita002', 'zita003', 'zita004', 'zita005'], ['zita010', 'zita011', 'zita012', 'zita013', 'zita014', 'zita015'], ['zita020', 'zita021', 'zita022', 'zita023', 'zita024', 'zita025']] 3
[['zita000', 'zita001', 'zita002', 'zita003', 'zita004', 'zita005', 'zita006'], ['zita010', 'zita011', 'zita012', 'zita013', 'zita014', 'zita015', 'zita016'], ['zita020', 'zita021', 'zita022', 'zita023', 'zita024', 'zita025', 'zita026']] 3
[['zita000', 'zita001', 'zita002', 'zita003', 'zita004', 'zita005', 'zita006', 'zita007'], ['zita010', 'zita011', 'zita012', 'zita013', 'zita014', 'zita015', 'zita016', 'zita017'], ['zita020', 'zita021', 'zita022', 'zita023', 'zita024', 'zita025', 'zita026', 'zita027']] 3

In [66]:
Up_list

[<mip.entities.LinExpr at 0x205c4b64980>,
 <mip.entities.LinExpr at 0x205bf0f5f40>,
 <mip.entities.LinExpr at 0x205c4b1d980>]

In [93]:
pd.DataFrame(U_list)

      0
0  4.30
1  3.85
2  3.50
3  7.90
4  5.30

In [96]:
pd.DataFrame(utility_list)

      0     1     2    3     4
0  4.15  4.75  3.25  7.6  5.80
1  4.15  4.30  3.75  8.2  5.55
2  4.30  3.85  3.50  7.9  5.30